@using Learning.Domain.DTO.UserPanel
@model ChangePasswordDTO
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}



<div class="account-page-style">
    <div class="container">
        <div class="container">
            <!-- breadcrumb -->
            <div class="breadcrumb">
                <ul itemtype="http://schema.org/BreadcrumbList">
                    <li itemscope="http://schema.org/ListItem" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> MoneyMagnet </span></a></li>
                    <li itemscope="http://schema.org/ListItem" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name">  تغییر کلمه عبور  </span></a></li>
                </ul>
            </div>
            <!-- /breadcrumb -->
        </div>
        <div class="account-page">

            <div class="row">

                <partial name="_SideBar" />

                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="left-content">

                        <section class="section-style box-shadow">
                            <header><h2> تغییر رمز عبور</h2></header>
                            <div class="inner">

                                <form asp-action="ChangePassword" method="post" class="form-style">
                                    @if (ViewBag.IsSuccess != null)
                                    {
                                        <div class="alert alert-success">
                                            کلمه عبور شما با موفقیت ویرایش شد
                                        </div>
                                    }
                                    <div class="row">

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <!-- input -->
                                            <div class="input-layer">
                                                <label><i class="zmdi zmdi-lock"></i>  رمز عبور فعلی </label>
                                                <input type="password" asp-for="OldPassword" placeholder="کلمه عبور فعلی" aria-describedby="username">
                                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                            </div>
                                            <!--/ input -->
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <!-- input -->
                                            <div class="input-layer">
                                                <label><i class="zmdi zmdi-lock"></i> رمز عبور جدید </label>
                                                <input type="password" asp-for="Password" placeholder="کلمه عبور جدید" aria-describedby="email-address">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <!--/ input -->
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <!-- input -->
                                            <div class="input-layer">
                                                <label><i class="zmdi zmdi-lock"></i> تکرار رمز عبور جدید </label>
                                                <input type="password" class="form-control" asp-for="RePassword" placeholder="تکرار کلمه عبور جدید" aria-describedby="email-address">
                                                <span asp-validation-for="RePassword" class="text-danger"></span>
                                            </div>
                                            <!-- /input -->
                                        </div>

                                        <div class="col-md-3 col-sm-4 col-xs-12 pull-left">
                                            <button class="button-st green pull-left"> ثبت رمز عبور </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </section>



                    </div>
                </div>




            </div>

        </div>

    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

