

@*    <ul itemtype="http://schema.org/BreadcrumbList">
                            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> تاپ لرن </span></a></li>
                            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a itemprop="item" title="دوره های آموزشی" href="/courses"><span itemprop="name"> دوره های آموزشی </span></a></li>
                            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a title="دوره های آموزشی برنامه نویسی وب تاپ لرن" itemprop="item" href="/courses?categories=%D8%A8%D8%B1%D9%86%D8%A7%D9%85%D9%87%20%D9%86%D9%88%DB%8C%D8%B3%DB%8C%20%D9%88%D8%A8"><span itemprop="name"> برنامه نویسی وب </span></a></li>
                            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a title="دوره های آموزشی Asp.Net Core تاپ لرن" itemprop="item" href="/courses?categories=Asp.Net%20Core"><span itemprop="name"> Asp.Net Core </span></a></li>
                        <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name">  آموزش کار با FluentValidation </span></a></li>
                    </ul>*@