<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="/">صفحه اصلی</a></li>
                            <li><a href="/Terms">قوانین  سایت </a></li>
                            <li><a href="/Help">راهنمای خرید از سایت </a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                           
                            <li><a href="/About">درباره ما </a></li>
                            <li><a href="/Contact">تماس با ما </a></li>
                            <li><a href="/WorkWithMoneyMagnet">همکاری با MoneyMagnet </a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="/Login">ورود</a></li>
                            <li><a href="/Register">ثبت نام </a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="">   </a></li>
                        <li><a href=""></a></li>
                    </ul>
                    <a referrerpolicy="origin" target="_blank"style="background-color:white;max-width:70%" href="https://trustseal.enamad.ir/?id=259295&amp;Code=VfwjCj1jzk5pbhwsh108"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=259295&amp;Code=VfwjCj1jzk5pbhwsh108" alt="" style="cursor:pointer" id="VfwjCj1jzk5pbhwsh108"></a>

                    @*<a target="_blank" rel="origin" href="" style="background-color:white;max-width:70%"><img src="~/images/namdeetemad.png" alt="" style="cursor: pointer" id="SJBEvYKfaba92RwaHUcq"></a>*@
                </div>
            </div>
        </div>
    </div>

</footer>