
footer .top-footer {
    width: 100%;
    background-color: #26292c;
    padding: 40px 0 20px
}

.top-footer .list {
    margin-bottom: 20px
}

    .top-footer .list header {
        margin-bottom: 20px;
        position: relative;
    }

        .top-footer .list header:before {
            width: 100%;
            content: '';
            position: absolute;
            height: 12px;
            right: 0;
            top: 0;
            margin-bottom: 15px;
            border-bottom: 1px solid #404E51;
            z-index: 10
        }

        .top-footer .list header h4 {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            display: inline-block;
            background-color: #26292c;
            z-index: 11;
            position: relative;
            padding-left: 20px
        }

    .top-footer .list ul li a {
        display: block;
        line-height: 25px;
        padding: 2px 15px 2px 0;
        color: #fff;
        font-size: 14px;
        position: relative;
    }

        .top-footer .list ul li a:hover {
            padding-right: 17px;
            color: #b51a29
        }

        .top-footer .list ul li a:before {
            position: absolute;
            color: #b51a29;
            font-size: 6px;
            font-family: 'FontAwesome';
            content: '\f111';
            right: 0;
            top: 3px
        }


.bottom-footer {
    background-color: #1e2023;
    padding: 15px 0
}

    .bottom-footer p {
        color: #B2BFC5;
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
        padding: 0;
        margin: 0
    }

        .bottom-footer p a {
            color: #B2BFC5;
        }

            .bottom-footer p a:hover {
                color: #dfb126
            }