@using Learning.Domain.DTO.Slider
@model SliderTextHomeDTO

 <div class="landing-header cooperation animated fadeIn">
        <h2>@Model.TextHome1</h2>
        <span>@Model.TextHome2</span>
    </div>