@page "{id}"
@model Learning.Mvc.Pages.Admin.OnlineClassEpisode.EditModel
@{
    ViewData["Title"] = "ویرایش";
}
<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">

        <form method="post" enctype="multipart/form-data" style="overflow-y:auto" class="card flex-div border-0 main-shadow">
            <input type="hidden" asp-for="EditOnlineClassEpisodeDTO.OnlineClassId" />
            <input type="hidden" asp-for="EditOnlineClassEpisodeDTO.EpisodeFileName" />
            <input type="hidden" asp-for="EditOnlineClassEpisodeDTO.OnlineClassEpisodeId" />
            <div class="modal-body row">
                <div class="col-md-12 col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            اطلاعات بخش
                        </div>
                        <div class="panel-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>عنوان بخش</label>
                                    <input type="text" asp-for="EditOnlineClassEpisodeDTO.Title" class="form-control">
                                    <span asp-validation-for="EditOnlineClassEpisodeDTO.Title"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>فایل بخش</label>
                                    <input type="file" name="fileEpisode">
                                    <span asp-validation-for="EditOnlineClassEpisodeDTO.EpisodeFileName"></span>
                                    <p class="help-block"> پسوند فایل .rar باشد</p>
                                    <p class="help-block">    برای نامگذاری فایل از * # & ، و .... استفاده نکنید</p>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer justify-content-end">
                            <button type="submit" class="btn btn-success btn-sm text-white">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
                        </div>
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>
